APP_NAME=Pu-239
APP_URL=https://pu239.example
APP_ENV=local
APP_PRODUCTION=false
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_LOCALE=en_US
APP_LOG_CHANNEL=stack
APP_AVAILABLE_LANGUAGES=en_US

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=pu239
DB_USER=pu239_user
DB_PASS=secret
DB_CHARSET=utf8mb4
DB_USE_SOCKET=false
DB_SOCKET=/var/run/mysqld/mysqld.sock
DB_DSN=
DB_QUERY_LIMIT=65536
DB_DEBUG=false
DB_PERSISTENT=false

MAIL_TRANSPORT=smtp
MAIL_SMTP_ENABLE=false
MAIL_SMTP_HOST=smtp.example.com
MAIL_SMTP_AUTH=true
MAIL_SMTP_USERNAME=user@example.com
MAIL_SMTP_PASSWORD=secret
MAIL_SMTP_SECURE=tls
MAIL_SMTP_PORT=587
MAIL_FROM_ADDRESS=noreply@example.com
MAIL_FROM_NAME=Pu-239

CACHE_DRIVER=memory
CACHE_PREFIX=pu239_
PEER_CACHE_DRIVER=memcached
PEER_CACHE_PREFIX=Peers_
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DATABASE=1
REDIS_SOCKET=/dev/shm/redis.sock
REDIS_USE_SOCKET=false
FILES_CACHE_PATH=/dev/shm/pu239
MEMCACHED_HOST=127.0.0.1
MEMCACHED_PORT=11211
MEMCACHED_SOCKET=/dev/shm/memcached.sock
MEMCACHED_USE_SOCKET=false

FILESYSTEM_STORAGE_PATH=/var/www/pu239/storage
BUCKET_ALLOWED=true
BUCKET_MAX_SIZE=5242880
WEBSERVER_USER=www-data

LANGUAGE_IMDB=en-US

SESSION_NAME=PU239SESSID
SESSION_SAVE_HANDLER=files
SESSION_COOKIE_SECURE=false
SESSION_COOKIE_HTTPONLY=true
SESSION_USE_COOKIES=true
SESSION_USE_ONLY_COOKIES=true
SESSION_USE_STRICT_MODE=true
SESSION_LAZY_WRITE=false
SESSION_COOKIE_DOMAIN=
SESSION_COOKIE_PATH=/
SESSION_SID_LENGTH=128
SESSION_GC_MAXLIFETIME=1440
SESSION_START_MODE=Strict
PHP_MEMORY_LIMIT=1024M
PHP_DISPLAY_ERRORS=Off
PHP_LOG_ERRORS=On
PHP_ERROR_LOG=
PHP_MAX_EXECUTION_TIME=300
DEFAULT_CHARSET=utf-8

MYSQLDUMP_PATH=/usr/bin/mysqldump
GZIP_PATH=/bin/gzip

TRACKER_ANNOUNCE_INTERVAL=1800
TRACKER_SCRAPE_INTERVAL=3600
TRACKER_CONNECTABLE_CHECK=false
TRACKER_CONNECTABLE_REQUIRED=false
TRACKER_USER_AGENT_HEADER=HTTP_USER_AGENT

GOOGLE_BOOKS_KEY=
GOOGLE_BOOKS_COUNTRY=US
